/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


} */

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #a2ac1a;
  --error: #e7195a;
}

body {
  background: rgb(0, 0, 0);
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
  background:rgba(0, 0, 0, 0.6);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #d2bebe;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border-radius: 4px;
  border: 1px solid #f60000;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #d2bebe;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #fa0202;
  padding: 6px;
  border-radius: 50%;
  color: #aca5a5;
}
.create {
  color: #d2bebe;
}
/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ff0000;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: red;
  border: 0;
  color: #ffffff;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #fff2f2;
  border: 1px solid rgb(255, 0, 0) ;
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 50px;
  background: #000000;
  border-radius: 4px;
  border: 1px solid rgba(255, 0, 0, 0.329);
  color: rgb(231, 203, 203);
}

form input{
  color: #ffefef;
  background-color: black;
}

.login {
  background: rgb(0, 0, 0);
  border: 1px solid red;
  color: #ffffff;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;

}
.signup{
  background: rgb(0, 0, 0);
  border: 1px solid red;
  color: #ffffff;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;
}
.logout{
  cursor: pointer;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(81, 255, 0);
  color: #ffffff;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;
}

.email{
  color: #d2bebe;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid rgb(62, 70, 13);
  border-radius: 3px;
}